@if(mostrarForm()){
  <div id="astronauta">

    <h3 i18n="@@astroTitle">Datos del Astronauta</h3>

    <form [formGroup]="form" id="form-astronauta">

      <label for="astro-id" i18n="@@idLabel">ID:</label>
      <input id="astro-id" type="text" formControlName="id" />

      <label for="astro-nombre" i18n="@@astroNombreLabel">Nombre:</label>
      <input id="astro-nombre" type="text" formControlName="nombre" />

      <label for="astro-edad" i18n="@@astroEdadLabel">Edad:</label>
      <input id="astro-edad" type="number" formControlName="edad" />

    </form>

    @if (formError) {
      <div #errorDiv id="error" [innerHTML]="formError">{{formError}}</div>
    }

    <button (click)="aceptarAstronauta()" i18n="@@aceptarBtn">Aceptar</button>
  </div>
}
