@use '../../estilos/variables' as *;

@mixin caja-form($extra-color: null) {
  background: $form-bg;
  padding: $padding;
  border-radius: $border-radius;
  max-width: $max-width-form;
  width: 90%;
  box-shadow: 0 0 25px $primary-color, 0 0 50px $secondary-color inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px auto;

  @if $extra-color != null {
    color: $extra-color;
  }
}

@mixin input-estilo {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #888;
  background: $input-bg;
  color: $text-color;
  font-size: 1rem;

  &:focus {
    outline: none;
    box-shadow: 0 0 10px $primary-color, 0 0 20px $secondary-color;
    background: rgba(0, 0, 50, 0.5);
  }
}

#forma-entrada {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#botones-entrada {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: 600px) {
    flex-direction: row;
  }
}

#mineral-form {
  @include caja-form();
}

#form-reducido {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 600px;

  @media (min-width: 600px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  input,
  select {
    flex: 1 1 calc(33.333% - 15px);
    min-width: 400px; 
    max-width: 60%; 
    @include input-estilo();
    @media (min-width: 600px) {
      min-width: 150px;
    }
  }
}

#form-extendido {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media (min-width: 816px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  > div {
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }

  input,
  select {
    flex: 1 1 calc(33% - 15px);
    @include input-estilo();
  }

  select {
    height: 35px;
    font-size: 0.9rem;
    padding: 5px 8px;
  }

  select option {
    background: rgba(0, 0, 0, 0.4);
    color: $text-color;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: 8px;
  }
}

#ext-element {
  display: flex;
  flex-direction: column;
}

#form-extendido #ext-elemento-estructura {
  grid-column: 1 / 4;
  max-width: 100%;
  height: 100px;
}
#form-reducido #red-estructura {
  max-width: 100%;
  height: 100px;
}

#error {
  @include caja-form(red);
  text-align: center;
}
