@if (astronauta() && criterio()) {
  <div id="datos-mision">
    <h2 i18n="@@datosMisionTitle">Datos de la Misión</h2>
    <p><strong i18n="@@astronautaLabel">Astronauta:</strong> {{ astronauta()?.dameNombre() }}</p>
    <p><strong i18n="@@identificadorLabel">Identificador:</strong> {{ astronauta()?.dameId() }}</p>
    <p><strong i18n="@@edadLabel">Edad:</strong> {{ astronauta()?.dameEdad() }}</p>
    <p><strong i18n="@@fechaInicioLabel">Fecha inicio:</strong> {{ fechaInicio }}</p>
    <p><strong i18n="@@tipoMaterialLabel">Tipo de material a recolectar:</strong> {{ criterio()?.dameCriterio() }}</p>
  </div>
}
