#inicio-mision{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  @media (min-width: 600px) {
     flex-direction: row;
  }
}

#nueva-mision {
  margin: 20px auto;
}