<div>
  @if (mineral()) {
    <div id="entrada-sistema">
      <h2 i18n="@@tituloSeleccionSistemaSalida">
        Elija un sistema de salida
      </h2>

      <div id="botones-sistema">
        <button
          type="button"
          (click)="seleccionarSistema('europeo')"
          i18n="@@btnSistemaEuropeo">
          Sistema Europeo
        </button>

        <button
          type="button"
          (click)="seleccionarSistema('americano')"
          i18n="@@btnSistemaAmericano">
          Sistema Americano
        </button>
      </div>
    </div>
  }

  @if (mision() && !mineral() && mineralSalida) {
    <div id="sistema-salida" #resultadoDiv>

      <h2 i18n="@@tituloMisionPiloto">
        Misión de {{ mision()?.piloto?.dameNombre() }}
      </h2>

      <p>
        {{ mision()?.criterio?.descripcionKey() }}
      </p>

      @if (mision()?.analiza()) {
        <div id="emoji">😊</div>
        <p i18n="@@mineralValidoMsg">
          El mineral es válido
        </p>
      } @else {
        <div id="emoji">😡</div>
        <p i18n="@@mineralNoValidoMsg">
          El mineral NO es válido
        </p>
      }

      <p>
        <strong i18n="@@mineralIdLabel">ID:</strong>
        {{ mineralSalida.id }}
      </p>

      <p>
        <strong i18n="@@mineralNombreLabel">Nombre:</strong>
        {{ mineralSalida.nombre }}
      </p>

      <p>
        <strong i18n="@@mineralOrigenLabel">Origen:</strong>
        {{ mineralSalida.origen }}
      </p>

      <p>
        <strong i18n="@@mineralDurezaLabel">Dureza:</strong>
        {{ mineralSalida.dureza }}
      </p>

      <p>
        <strong i18n="@@mineralTamanoGranoLabel">Tamaño de grano:</strong>
        {{ mineralSalida.dametamanoGrano() }}
      </p>

      <p>
        <strong i18n="@@mineralClasificacionLabel">Clasificación:</strong>
        {{ mineralSalida.clasificacion }}
      </p>

      <p>
        <strong i18n="@@mineralTamanoCristalLabel">Tamaño de cristal:</strong>
        {{ mineralSalida.tamanoCristal }}
        <span>
          @if (tipo === 'europeo') {
            <span i18n="@@unidadMm">mm</span>
          } @else {
            <span i18n="@@unidadInches">inches</span>
          }
        </span>
      </p>

     
      <p>
        <strong i18n="@@mineralTemperaturaLabel">
          Temperatura de formación:
        </strong>
        {{ mineralSalida.temperatura }}
        <span>
          @if (tipo === 'europeo') {
            <span i18n="@@unidadCelsius">°C</span>
          } @else {
            <span i18n="@@unidadFahrenheit">°F</span>
          }
        </span>
      </p>
    

      @if (mineralSalida.estructura) {
        <p>
          <strong i18n="@@mineralEstructuraLabel">Estructura:</strong>
          {{ mineralSalida.estructura }}
        </p>
      }

      <p>
        <strong i18n="@@mineralTexturaLabel">Textura:</strong>
        {{ mineralSalida.textura }}
      </p>

    </div>
  }

  <button
    type="button"
    id="reiniciar-boton"
    (click)="misionService.resetearTodo()"
    i18n="@@btnReiniciarMision">
    Reiniciar Misión
  </button>

</div>
