#entrada-sistema{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sistema-salida {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 30, 0.85);
  padding: 25px;
  border-radius: 20px;
  max-width: 800px;
  width: 90%;
  margin: 15px auto;
  box-shadow: 0 0 25px #0ff, 0 0 50px #00f inset;
}
#botones-sistema{
  display: flex;
  flex-direction: column;
  @media (min-width: 600px) {
    flex-direction: row ;
    
  }
}
#emoji {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 15px;
}
