@use './variables.scss' as *;

#info-programa {
  background: $form-bg;
  padding: $padding;
  border-radius: $border-radius;
  margin: 15px auto;
  max-width: $max-width-form;
  width: 90%;
  box-shadow: 0 0 25px $primary-color, 0 0 50px $secondary-color inset;
  border: 1px solid $input-bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}